.collection-item {
    min-height: 0 !important;
}

.spacing-up-down {
    margin: 100px 0 50px 0;
}

.collection-item.avatar > i {
    top: 50%;
    transform: translateY(-50%);
}

.chip.tiny {
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    font-size: x-small;
}