<div class="row home">
	<div class="col s12 center-align">
		<span class="main-icon fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x green-text"></i>
			<i class="fas fa-phone fa-stack-1x fa-inverse"></i>
		</span>

		<!-- NUMBER-->
		<div class="input-field col s12">
			<input id="search" type="text" maxlength="50">
			<label for="search">Inserte el nombre o número a buscar</label>
		</div>

		<!-- PROVINCE-->
		<div class="input-field col s12">
			<select id="province">
				<option value="ALL" selected>Todas</option>
				<% Object.keys(provinces).forEach(function(key){ %>
					<option value="<%= key %>"><%= provinces[key] %></option>
				<% }) %>
			</select>
			<label for="province">Provincia</label>
		</div>

		<!-- ADDRESS -->
		<div class="input-field col s12">
			<input id="address" type="text" maxlength="50">
			<label for="address">Dirección</label>
		</div>

		<!-- PHONE TYPE -->
		<div class="input-field col s12">
			<select id="type">
				<option value="ALL" selected>Cualquiera</option>
				<% Object.keys(types).forEach(function(key){ %>
					<option value="<%= key %>"><%= types[key] %></option>
				<% }) %>
			</select>
			<label for="province">Tipo de número</label>
		</div>
	</div>
</div>

<!-- BUTTON -->
<div class="fixed-action-btn" onclick="search()">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!">
		<i class="material-icons">send</i>
	</a>
</div>

