<div class="row">
    <div class="col s12">
        <div class="center-align spacing-up-down">
            <img class="responsive-img" src="{{APP_SERVICE_PATH}}/images/etecsadroyd.png"/>
        </div>

        <div class="row">
            <div class="col s12">
                <p style="margin: 0">Bienvenido a Etecsa Droyd, la guía de teléfono de Cuba. Inserte nombre de persona o
                    negocio.</p>
            </div>

            <div class="input-field col s12">
                <input id="search" type="text" maxlength="50">
                <label for="search">Inserte el nombre o número a buscar</label>
            </div>

            <!-- PROVINCE-->
            <div class="input-field col s12">
                <select id="province">
                    <option value="ALL" selected>Todas</option>
                    <% Object.keys(provinces).forEach(function(key){ %>
                        <option value="<%= key %>"><%= provinces[key] %></option>
                    <% }) %>
                </select>
                <label for="province">Provincia</label>
            </div>

            <!-- PHONE TYPE -->
            <div class="input-field col s12">
                <select id="type">
                    <option value="ALL" selected>Cualquiera</option>
                    <% Object.keys(types).forEach(function(key){ %>
                        <option value="<%= key %>"><%= types[key] %></option>
                    <% }) %>
                </select>
                <label for="province">Tipo de número</label>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" onclick="search()">
    <a class="btn-floating btn-large green">
        <i class="large material-icons">send</i>
    </a>
</div>
</div>
