<div class="row">
    <div class="col s12">
        <div class="center-align">
            <img class="responsive-img" src="{{APP_SERVICE_PATH}}/images/etecsadroyd.png"/>
        </div>

        <p>Bienvenido a Etecsa Droyd, la guia de telefono de Cuba. Inserte un nombre de persona o negocio a buscar.</p>

        <div class="row">
            <div class="input-field col s12">
                <input id="search" type="text" maxlength="50">
                <label for="search">Inserte el nombre a buscar</label>
            </div>
        </div>

        <!-- PROVINCE-->
        <!--div class="input-field">
            <select id="province">
                <option value="Todas" selected>Todas</option>
                <# Object.keys(provinces).forEach(function(key){ #>
                    <option value="<#= key #>"><#= provinces[key] #></option>
                <# }) #>
            </select>
            <label for="province">Provincia</label>
        </div-->
    </div>

    <div class="fixed-action-btn" onclick="search()">
        <a class="btn-floating btn-large green">
            <i class="large material-icons">arrow_forward</i>
        </a>
    </div>
</div>
